.card {
  background: #f5f6f7;
  border-radius: 20px;
  padding: 20px;
  width: 280px;
  box-shadow: 8px 8px 20px #d1d9e6,
              -8px -8px 20px #ffffff;
  text-align: left;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  background: #e6ebf1;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  background: #cdd6df;
  margin: auto;
  border-radius: 15px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.stock {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 500;
}

.stock.in {
  background: #d4edda;
  color: #155724;
}

.stock.out {
  background: #f8d7da;
  color: #721c24;
}
.card h2 {
  color: #111;
  font-weight: 600;
}

.price {
  color: #000;
}
