body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom, #f5f7fa, #e4ebf3);
}

.container {
  max-width: 750px;
  margin: 60px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
  color: #0f172a;
}

.card {
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 18px;
  border: 1px solid #cbd5e1;
  margin-bottom: 30px;
}
